<a href="https://colab.research.google.com/github/nnrtgt/dma1/blob/main/199DataMiningAssignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

An organization wanted to mine association rules of frequently bought items from its stores and suggest some recommendations to its customers.
 
As a data scientist, you are required to recognize patterns from the available data and evaluate efficacy of methods to obtain patterns. Your activities should include - performing various activities pertaining to the data such as, preparing the dataset for analysis; investigating the relationships in the data set with visualization; identify frequent patterns; formulate association rules and evaluate quality of rules.
 
Demonstrate KDD process with following activities:
*   Problem statement
*   Perform exploratory data analysis
*   Preprocess the data. Identify relevant & irrelevant attributes for the problem.
*   Propose parameters such as support, confidence etc.  
*   Discover frequent patterns
*   Iterate previous steps by varying parameters
*   Formulate association rules
*   Compare association rules
*   Briefly explain importance of discovered rules
 
Following are some points for you to take note of, while doing the assignment:
*   The data in some of the rows in the data set may be noisy, sparse.
*   State all your assumptions clearly
*   Provide clear explanations to explain your stand

In [1]:
# Exploratory Data Analysis
# Total 7500 Rows are present in the given Excel file
# Storing the Dataset into Google Drive

!git clone https://github.com/nnrtgt/dma1

Cloning into 'dma1'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (8/8), done.
remote: Total 9 (delta 1), reused 0 (delta 0), pack-reused 0
Unpacking objects: 100% (9/9), done.

In [2]:
!ls

dma1  sample_data

In [3]:
import pandas as pd

In [4]:
!ls dma1

199DataMiningAssignment.ipynb  Dataset.xlsx

In [30]:
df1 = pd.read_excel("/content/dma1/Dataset.xlsx", header=None, keep_default_na=False)

#df2 = pd.read_excel("https://github.com/nnrtgt/dma1/blob/main/Dataset.xlsx", header=None)

In [31]:
df1.head()
# df2.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,,,,,,,,,,,,,,,,,
2,chutney,,,,,,,,,,,,,,,,,,,
3,turkey,avocado,,,,,,,,,,,,,,,,,,
4,mineral water,milk,energy bar,whole wheat rice,green tea,,,,,,,,,,,,,,,

In [7]:
df1.info
#This function is used to get a brief summary of the dataframe. This method prints information about a DataFrame including the index dtype and column dtypes, non-null values, and memory usage.

<bound method DataFrame.info of                  0                  1            2                 3   \
0            shrimp            almonds      avocado    vegetables mix
1           burgers          meatballs         eggs               NaN
2           chutney                NaN          NaN               NaN
3            turkey            avocado          NaN               NaN
4     mineral water               milk   energy bar  whole wheat rice
...             ...                ...          ...               ...
7496         butter         light mayo  fresh bread               NaN
7497        burgers  frozen vegetables         eggs      french fries
7498        chicken                NaN          NaN               NaN
7499       escalope          green tea          NaN               NaN
7500           eggs    frozen smoothie  yogurt cake    low fat yogurt

                4                 5     6               7             8   \
0     green grapes  whole weat flour  yams  cottage cheese  energy drink
1              NaN               NaN   NaN             NaN           NaN
2              NaN               NaN   NaN             NaN           NaN
3              NaN               NaN   NaN             NaN           NaN
4        green tea               NaN   NaN             NaN           NaN
...            ...               ...   ...             ...           ...
7496           NaN               NaN   NaN             NaN           NaN
7497     magazines         green tea   NaN             NaN           NaN
7498           NaN               NaN   NaN             NaN           NaN
7499           NaN               NaN   NaN             NaN           NaN
7500           NaN               NaN   NaN             NaN           NaN

                9               10         11     12     13             14  \
0     tomato juice  low fat yogurt  green tea  honey  salad  mineral water
1              NaN             NaN        NaN    NaN    NaN            NaN
2              NaN             NaN        NaN    NaN    NaN            NaN
3              NaN             NaN        NaN    NaN    NaN            NaN
4              NaN             NaN        NaN    NaN    NaN            NaN
...            ...             ...        ...    ...    ...            ...
7496           NaN             NaN        NaN    NaN    NaN            NaN
7497           NaN             NaN        NaN    NaN    NaN            NaN
7498           NaN             NaN        NaN    NaN    NaN            NaN
7499           NaN             NaN        NaN    NaN    NaN            NaN
7500           NaN             NaN        NaN    NaN    NaN            NaN

          15                 16               17       18         19
0     salmon  antioxydant juice  frozen smoothie  spinach  olive oil
1        NaN                NaN              NaN      NaN        NaN
2        NaN                NaN              NaN      NaN        NaN
3        NaN                NaN              NaN      NaN        NaN
4        NaN                NaN              NaN      NaN        NaN
...      ...                ...              ...      ...        ...
7496     NaN                NaN              NaN      NaN        NaN
7497     NaN                NaN              NaN      NaN        NaN
7498     NaN                NaN              NaN      NaN        NaN
7499     NaN                NaN              NaN      NaN        NaN
7500     NaN                NaN              NaN      NaN        NaN

[7501 rows x 20 columns]>

In [8]:
df1.shape #: It shows the number of dimensions as well as the size in each dimension. Since data frames are two-dimensional, what shape returns is the number of rows and columns.

(7501, 20)

In [9]:
df1.size #: Return an int representing the number of elements in this object. Return the number of rows if Series, otherwise returns the number of rows times the number of columns if DataFrame.

150020

In [10]:
df1.ndim #: Returns dimension of dataframe/series. 1 for one dimension (series), 2 for two dimensions (dataframe).

2

In [11]:
df1.describe() 
#: Return a statistical summary for numerical columns present in the dataset. 
#This method calculates some statistical measures like percentile, mean and standard deviation of the numerical values of the Series or DataFrame.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
count,7501,5747,4389,3345,2529,1864,1369,981,654,395,256,154,87,47,25,8,4,4,3,1
unique,115,117,115,114,110,106,102,97,88,80,66,50,43,28,19,8,3,3,3,1
top,mineral water,mineral water,mineral water,mineral water,green tea,french fries,green tea,green tea,green tea,green tea,low fat yogurt,green tea,green tea,green tea,magazines,salmon,frozen smoothie,protein bar,spinach,olive oil
freq,577,484,375,201,153,107,96,67,57,31,22,15,8,4,3,1,2,2,1,1

In [12]:
df1.sample() 
#: Used to generate a sample randomly either row or column. 
#It allows you to select values randomly from a Series or DataFrame. It is useful when we want to select a random sample from a distribution.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
2005,mineral water,cake,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [13]:
df1.isnull().sum()
#: Return the number of missing values in each column.

0        0
1     1754
2     3112
3     4156
4     4972
5     5637
6     6132
7     6520
8     6847
9     7106
10    7245
11    7347
12    7414
13    7454
14    7476
15    7493
16    7497
17    7497
18    7498
19    7500
dtype: int64

In [14]:
df1.nunique()
#: Return number of unique elements in the object. It counts the number of unique entries over columns or rows. It is very useful in categorical features especially in cases where we do not know the number of categories beforehand.

0     115
1     117
2     115
3     114
4     110
5     106
6     102
7      97
8      88
9      80
10     66
11     50
12     43
13     28
14     19
15      8
16      3
17      3
18      3
19      1
dtype: int64

In [15]:
df1.index
#: This function searches for a given element from the start of the list and returns the lowest index where the element appears.

RangeIndex(start=0, stop=7501, step=1)

In [16]:
df1.columns 
#: Return the column labels of the dataframe.

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18,
            19],
           dtype='int64')

In [17]:
df1.memory_usage()
#: Returns how much memory each column uses in bytes. It is useful especially when we work with large data frames.

Index      128
0        60008
1        60008
2        60008
3        60008
4        60008
5        60008
6        60008
7        60008
8        60008
9        60008
10       60008
11       60008
12       60008
13       60008
14       60008
15       60008
16       60008
17       60008
18       60008
19       60008
dtype: int64

In [18]:
df = df1.copy()
df.dropna()
#: This function is used to remove a row or a column from a dataframe that has a NaN or missing values in it.

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil

Association Rule

{Diapers} -> {Beer}

* Antecedent
* Consequent
* Both Antecedent and Consequent can have multiple items
* Support - High Support, Low Support
* Confidence - Reliability of the rule, depends on the domain, for product recommendation even 0.5 (50%) confidence is acceptable, in a medical situation, this level is not high enough
* Lift - ratio of the observed support to that expected if the two rules were completely independent
* The basic rule for Lift > 1

* Converting given data into 1-hot-encoding (TransctionEncoder), there will be 20 columns and the presence becomes 1 otherwise zero
* Due to the advantaes of FP Growth over Apriori algorithm, we can leverage the same here
* Avoids multiple DB scans, instead scans only twice
* Uses a Tree structure to store all the information
*

In [20]:
!pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [41]:
# 1 Hot Encoding or TransactionEncoder - http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/apriori/
# http://rasbt.github.io/mlxtend/user_guide/preprocessing/TransactionEncoder/
from mlxtend.preprocessing import TransactionEncoder

te = TransactionEncoder()
dataset=df1.values.tolist()
te_ary = te.fit(dataset).transform(dataset)
# te_ary.astype("int"). -- not needed
df = pd.DataFrame(te_ary, columns=te.columns_)

# now all the blanks became as column 1, that column can be removed
df = df.drop('', axis=1)
df
# te.columns_

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,True,True,False,True,False,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False