<a href="https://colab.research.google.com/github/nnrtgt/dma1/blob/main/Distances.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
#https://stackoverflow.com/questions/29481485/creating-a-distance-matrix
import pandas as pd
from scipy.spatial import distance_matrix
    
data = [[5, 7], [7, 3], [8, 1]]
ctys = ['A', 'B', 'C']
df = pd.DataFrame(data, columns=['xcord', 'ycord'], index=ctys)

In [12]:
#Euclidean Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)

,A,B,C,D,E,F,G,H
A,0.000000,2.000000,2.236068,2.000000,3.605551,5.385165,4.242641,5.000000
B,2.000000,0.000000,1.000000,2.828427,2.236068,3.605551,3.162278,3.605551
C,2.236068,1.000000,0.000000,2.236068,1.414214,3.162278,2.236068,2.828427
D,2.000000,2.828427,2.236068,0.000000,3.000000,5.000000,3.162278,4.123106
E,3.605551,2.236068,1.414214,3.000000,0.000000,2.000000,1.000000,1.414214
F,5.385165,3.605551,3.162278,5.000000,2.000000,0.000000,2.236068,1.414214
G,4.242641,3.162278,2.236068,3.162278,1.000000,2.236068,0.000000,1.000000
H,5.000000,3.605551,2.828427,4.123106,1.414214,1.414214,1.000000,0.000000

In [10]:
#Manhattan Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values,1), index=df.index, columns=df.index)

     A    B    C
A  0.0  6.0  9.0
B  6.0  0.0  3.0
C  9.0  3.0  0.0

In [21]:
import pandas as pd
from scipy.spatial import distance_matrix

data = [[1, 2], [1, 4], [2, 4], [3,2], [3,5],[3,7],[4,5],[4,6]]
ctys = ['A', 'B', 'C','D','E','F','G','H']
df = pd.DataFrame(data, columns=['xcord', 'ycord'], index=ctys)


#Manhattan Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values,1), index=df.index, columns=df.index)

     A    B    C    D    E    F    G    H
A  0.0  2.0  3.0  2.0  5.0  7.0  6.0  7.0
B  2.0  0.0  1.0  4.0  3.0  5.0  4.0  5.0
C  3.0  1.0  0.0  3.0  2.0  4.0  3.0  4.0
D  2.0  4.0  3.0  0.0  3.0  5.0  4.0  5.0
E  5.0  3.0  2.0  3.0  0.0  2.0  1.0  2.0
F  7.0  5.0  4.0  5.0  2.0  0.0  3.0  2.0
G  6.0  4.0  3.0  4.0  1.0  3.0  0.0  1.0
H  7.0  5.0  4.0  5.0  2.0  2.0  1.0  0.0

In [22]:
#Euclidean Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values), index=df.index, columns=df.index)

,A,B,C,D,E,F,G,H
A,0.000000,2.000000,2.236068,2.000000,3.605551,5.385165,4.242641,5.000000
B,2.000000,0.000000,1.000000,2.828427,2.236068,3.605551,3.162278,3.605551
C,2.236068,1.000000,0.000000,2.236068,1.414214,3.162278,2.236068,2.828427
D,2.000000,2.828427,2.236068,0.000000,3.000000,5.000000,3.162278,4.123106
E,3.605551,2.236068,1.414214,3.000000,0.000000,2.000000,1.000000,1.414214
F,5.385165,3.605551,3.162278,5.000000,2.000000,0.000000,2.236068,1.414214
G,4.242641,3.162278,2.236068,3.162278,1.000000,2.236068,0.000000,1.000000
H,5.000000,3.605551,2.828427,4.123106,1.414214,1.414214,1.000000,0.000000

In [23]:
import math
#Supremum Distance Matrix
pd.DataFrame(distance_matrix(df.values, df.values,math.inf), index=df.index, columns=df.index)

     A    B    C    D    E    F    G    H
A  0.0  2.0  2.0  2.0  3.0  5.0  3.0  4.0
B  2.0  0.0  1.0  2.0  2.0  3.0  3.0  3.0
C  2.0  1.0  0.0  2.0  1.0  3.0  2.0  2.0
D  2.0  2.0  2.0  0.0  3.0  5.0  3.0  4.0
E  3.0  2.0  1.0  3.0  0.0  2.0  1.0  1.0
F  5.0  3.0  3.0  5.0  2.0  0.0  2.0  1.0
G  3.0  3.0  2.0  3.0  1.0  2.0  0.0  1.0
H  4.0  3.0  2.0  4.0  1.0  1.0  1.0  0.0